/* ========================================================================
 *
 * Helper classes for rapid css prototyping and designing.
 *
 * Inspired and partialy copied from Tachyons project(http://tachyons.io).
 *
 * ======================================================================== */

@require 'lib/base'

@require 'lib/display'
@require 'lib/flex'

@require 'lib/spacing'
@require 'lib/sizes'

@require 'lib/font-size'
@require 'lib/font-weight'
@require 'lib/align'
@require 'lib/colors'


/**
 * Mixins
 * ======================================================================== */

rapid-build()
    rapid-display-build()
    rapid-flex-build()
    rapid-spacing-build()
    rapid-sizes-build()
    rapid-font-size-build()
    rapid-font-weight-build()
    rapid-align-build()
    rapid-colors-build()