/**
 * Variables
 * ======================================================================== */

$rapid_type        ?= '.'
$rapid_prefix      ?= $rapid_type
$rapid_build       ?= false
$rapid_responsive  ?= false

/**
 * Mixins
 * ======================================================================== */

map(data, function)
    for i in data
        data[i] = function(data[i])

    return data


/**
 * Rapid default template
 */
rapid_default_template()
    $selector = selector('&')

    $template = (!$selector) ? $rapid_type + '%s' + $bem.s.p :\
        ($selector == '.') ? '.%s' + $bem.s.p :\
            $selector + $bem.s.p + '%s' + $bem.s.p


/**
 * Used to assort given properies width some value.
 */
rapid-property-assort($properties, $sizes, $template, $responsive)
    for $p_name, $p_list in $properties
        for $p_type in $p_list
            $p_props = $p_list[$p_type]

            for $s_name, $s_size in $sizes
                $selector = $template % unquote($p_name) + $p_type + $s_name
                /{$selector}
                    if !!$responsive == true
                        +media-respond($bem.s.m + '%s', true)
                            for $prop in $p_props
                                {$prop} $s_size

                    else
                        for $prop in $p_props
                            {$prop} $s_size