/* ========================================================================
 *
 * Font size
 *
 * Legend:
 *
 * fs = font-size
 *
 * Inspired by: https://www.npmjs.com/package/tachyons-type-scale
 *
 * ======================================================================== */

@require 'base'

/**
 * Variables
 * ======================================================================== */

$rapid_font-size_prefix     ?= $rapid_prefix
$rapid_font-size_responsive ?= $rapid_responsive
$rapid_font-size_build      ?= $rapid_build

$rapid_font-size_properties  = extend({
        'fs': {
            '': ('font-size')
        },
    }, $rapid_font-size_properties)


/**
 * Mixins
 * ======================================================================== */

rapid-font-size-build(sizes=map(typo-settings().size, @(size) {
            return to_unit(typo_scaled(size), typo-settings().unit)
        }),
        responsive=$rapid_font-size_responsive)
    $template = rapid_default_template()

    rapid-property-assort($rapid_font-size_properties, sizes,
        $template, responsive)


if $rapid_font-size_build
    {$rapid_font-size_prefix}
        rapid-font-size-build()